.wrapper {
  margin:auto;
  width:758px;

}
#page-title{
  text-align: center;
  font-size: 25px;
  margin: 0px;
}
#page-title2{
  text-align: center;
  font-size: 2.5em;
  margin: 0px;
  font-style: italic;
  background-color: #fefa35;
  width: 600px;
  margin:auto;
}
#orange{
  margin:auto;
  width:375px;
  background-color: #fe7d4f;
  height: 225px;
}
#red{
  margin:auto;
  width:375px;
  background-color: #ff646e;


}
#blue{
  margin:auto;
  width:375px;
  background-color: #3e74d2;
  color: white;
}
#blue ul li{

  line-height: 25px;
  font-size: 20px;
}
#yellow{
  margin:auto;
  width:375px;
  background-color: #fcba28;
  border-style: solid;
  border-width: thin;
  text-align: center;

}
#image{
  border-style: solid;
  border-width: thin;
}
.leftside{
  float: left;
}
.rightside{
  float: right;
}
#orange ul li{
  color: white;
  line-height: 25px;
  font-size: 20px;
}
#red ul li{
  color: white;
  line-height: 25px;
  font-size: 20px;
}
#yellowWhite{
  color: white;
}
#italics{
  font-style: italic;
  line-height: 25px;
  font-size: 15px;

}
#yellowWhite{
  color: white;
}
h3{
  text-align: center;
}
#footerID{
border-top: 1px solid #dcdcdc;
max-width: 100vw;
font-weight: bold;
text-align: center;
background: #f0f0f0;
width: 100%;
height: 80px;
position: fixed;
bottom: 0;
}
@media all and (max-width: 500px) {
  .leftside, .rightside{
    float: none;
  }
  #image{
    bottom: 0;
position: absolute;

height: 120px;
width: auto;
padding-left: 200px;
border-style: none;
  }
  #page-title{
    text-align: center;
    font-size: 15px;
    margin: 0px;
  }
  #page-title2{
    text-align: center;
    font-size: 1em;
    margin: 0px;
    font-style: italic;
    background-color: #fefa35;
    width: 600px;
    margin:auto;
  }
  #citation{
    font-size: 0;

  }
}
