body{
  /* changes the bodies background color */
  background-color: #F1F9DC;
}
p{
  font-family: sans-serif; color:Gray; font-size:15px;
  line-height: 20px;

}
/* changed background color of body, width, and margin */
.wrapper{
  background-color: #E9F7CA;
  width: 92%;
  max-width: 800px;
  margin: 0 auto;
  padding: 12px 20px;

}
/* class name for my paragraph. Added a solid border on the left and some padding so its not close.
I also changed the background color */
#Four{
  border-left: solid;
  padding-left: 10px;
  background-color: #A6DF2A;

}
/* removed the bullet list and decreased padding */
ul{
  list-style-type: none;
  padding-left: 0;

}
h5{
  margin:0;
}
header{
  background-image: url(../assets/images/headerbg.png);
  border-bottom: 1px; solid #d2d2d2;
  text-align: center;

}
#footerID{

  text-align: center;
  padding: 40px 20px;
  border-top: 2px solid #d2d2d2

  font-family: sans-serif; color:Gray; font-size:15px; font-style: italic;

}
/* Smartphones (portrait and landscape) ----------- */
@media all and (max-width: 500px) {
  body{
    /* changes the bodies background color */
    background-color: #ffffff;
  }
  p{
    font-family: sans-serif; color:Gray; font-size:10px;
    line-height: 10px;

  }
  /* changed background color of body, width, and margin */
  .wrapper{
    background-color: #E9F7CA;
    width: 75%;
    max-width: 400px;
    margin: 0 auto;
    padding: 12px 20px;

  }
  img{
    width: 100px;
    height:50px;
  }
  /* class name for my paragraph. Added a solid border on the left and some padding so its not close.
  I also changed the background color */
  #Four{
    border-left: solid;
    padding-left: 10px;
    background-color: #A6DF2A;

  }
  /* removed the bullet list and decreased padding */
  ul{
    list-style-type: none;
    padding-left: 0;

  }
  h5{
    margin:0;
  }
  header{
    background-image: url(../assets/images/watercolor.png);
    border-bottom: 1px; solid #d2d2d2;
    text-align: center;

  }
  #footerID{

    text-align: center;
    padding: 40px 20px;
    border-top: 2px solid #d2d2d2

    font-family: sans-serif; color:Gray; font-size:15px; font-style: italic;

  }
}
